 <app-navbar-company></app-navbar-company>
 edit company profile
<div class="profile-page" >
  
    <div class="page-header header-filter" data-parallax="true"
      style="background-image:url('../../../../assets/images/black-and-white-city-night.png');">
    </div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="profile">
                <div class="avatar">
                  <img src="http://localhost:3000//{{companyModel.image}}" alt="Circle Image"
                    class="img-raised rounded-circle ">
                </div>
                <div class="name">
                  <h3 class="title">{{companyModel.name}}</h3>

                  <!-- <h6>{{companyModel.careerobjective}}</h6> -->


                  <h6>{{companyModel.careerobjective}}</h6>

                  <h6>{{companyModel.careerobjrctive}}</h6>
                  <p> {{companyModel.content}}</p>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 ">
              <form #companyForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-12">
                    <h5>User Name</h5>
                  <div class="form-group">
                    <input type="text" class="form-control"  id="name" name="name" [(ngModel)]="companyModel.name" #name="ngModel">
                  </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 ">
                    <h5>Contact Info</h5>
                  <div class="form-group">

                    <input type="email" class="form-control" placeholder="Enter email" id="email" name="email"
                      [(ngModel)]="companyModel.email" #email="ngModel">
                  </div>
                  <div class="form-group">
      
                    <input type="number" class="form-control" placeholder="Enter Telephone Number" id="telephone"
                      name="telephonenumber" [(ngModel)]="companyModel.telephonenumber" #telephonenumber="ngModel">
                  </div>
                  <div class="form-group">
      
                    <input type="text" class="form-control" placeholder="Enter Address" id="address"
                    name="address" [(ngModel)]="companyModel.address" #address="ngModel">
                  </div>
                  </div>
                  <div class="col-md-6">
                    <h5>Content</h5>
                    <div class="form-group">
                      <textarea class="form-control" rows="5" id="content" name="content" [(ngModel)]="companyModel.content"
                        #content="ngModel"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h5>Date Create</h5>
                    <div class="form-group">
                      <input type="date" class="form-control"  id="date"
                      name="datacreated" [(ngModel)]="companyModel.datecreated" #datacreated="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5>Company Field</h5>
                    <div class="form-group">
                      <input type="text" class="form-control"  id="field"
                      name="companyField"  [(ngModel)]="companyModel.field" #field="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h5>career Objrctive</h5>
                    <div class="form-group">
                      <input type="text" class="form-control" id="careerobjrctive"
                      name="careerobjrctive"  [(ngModel)]="companyModel.careerobjrctive" #careerobjrctive="ngModel">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5>Description</h5>
                    <div class="form-group">
                      <textarea class="form-control" rows="7" id="description" name="description" [(ngModel)]="companyModel.description"
                        #description="ngModel"></textarea>
                    </div>
                  </div>
                </div>

                <div>
                  <label for="exampleFormControlInput1">Profile Image</label>
                  <input class="form-control" type="file" name="image" required
                  
                   (change)="onfileSelected($event)" >
                   
                </div>
                <strong class="text-danger" [class.d-none]="test">Please Select Image </strong>

                <div class="row">
                  <button type="submit" class="btn btn-danger" style="margin: auto;">Save</button>
                </div>
              </form>
            </div>
          </div>
          
        </div>
        <br>
      </div>
    </div>
    <br>
    <br>
<app-footer></app-footer>
