
 <!---->
 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-md-4	">
      <a class="navbar-brand" routerLink="/student-home/{{ID}}"style="cursor: pointer;" ><img style="width: 70px; height: 70px;"
         src="../../../assets/images/ITIAN.png"><strong style="font-family: monospace; font-weight: bold;">ITIan</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLink="/student-home/{{ID}}" ><a  class="nav-link" style="cursor: pointer;">Home</a></li>
          <li class="nav-item " routerLink="/list-jobs/{{ID}}" style="cursor: pointer;"><a  class="nav-link">My Jobs  </a></li>
          <li class="nav-item " routerLink="/saved-job/{{ID}}"  style="cursor: pointer;"><a  class="nav-link">Saved Jobs  </a></li>
         
         </ul>
          <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="http://localhost:3000//{{student.image}}" width="40" height="40" class="rounded-circle">
              <a style="    margin-left: 8px;">{{student.name}}</a>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/message/{{ID}}"><i class="fa fa-envelope"></i> &nbsp; messages</a>
              <a class="dropdown-item" routerLink="/student-profile/{{ID}}"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; profile</a>
              <a class="dropdown-item" routerLink="/edit-student-profile/{{ID}}"  (click)="editProfile()" ><i class="fas fa-edit"></i> &nbsp; Edit Profile</a>
              <a class="dropdown-item" (click)="logOut()" > <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Log Out</a>
            </div>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

