
<header id="header">
  
  <div id="logo" class="pull-left">
    <h1><a href="#intro" class="scrollto">ITIan</a></h1>

  </div>

  <nav id="nav-menu-container">
    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
      <li class="menu-active"><a href="#intro">Home</a></li>
      <li><a href="#about">About Us</a></li>
    
      <li><a href="#contact">Contact</a></li>
      <li routerLink="/login"><a  class="login popup-with-form">
        <i class="fas fa-user"  ></i>
        log in
    </a></li>

    </ul>
  </nav><!-- #nav-menu-container -->

</header>
<section id="intro">
<div class="intro-container">
  <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="carousel-background"><img src="../../../assets/images/woman-hands-tech-developer-laptop.jpg" alt=""></div>
        <div class="carousel-container">
          <div class="carousel-content">
            <h2>WE are professional</h2>
            <p>
               We work in a highly demanding industry and a vibrant work environment. We are consistently challenged and motivated to fulfill & excel beyond our capabilities & allocated resources.

            </p>
            
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-background"><img src="../../../assets/images/software-programming-plan.jpg" alt=""></div>
        <div class="carousel-container">
          <div class="carousel-content">
            <h2>OUR community </h2>
            <p>ITI introduced SHAPE IT to dig deeper in the dynamic community sectors, SHAPE IT breaks down to Safety, Health,
              Agriculture, Power, Education, and Information Technology. With the methodology of "Investigate - Ideate -
              Innovate - Communicate", the ITI interns first Investigate what the existing developmental problems are, then
              ideate & innovate by developing innovative solutions reflecting throughout prominent ICT applications and tools
              aiming to serve in conquering the proposed challenges, while creating a real impact by utilizing their ICT
              knowledge in serving a developmental cause.</p>
                         </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-background"><img src="../../../assets/images/3.jpg" alt=""></div>
        <div class="carousel-container">
          <div class="carousel-content">
            <h2>Our Philosophy </h2>
            <p>
              OUR philosophy is to always empower
               Egyptian talents, as they are the future 
               of this country. We will stop at nothing until we fulfill this goal.

            </p>
            
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-background"><img src="../../../assets/images/1.jpg" alt=""></div>
        <div class="carousel-container">
          <div class="carousel-content">
            <h2>PARTNER simulated</h2>
            <p>ITI maintains a strong relation
               with the public, private and citizen
                sector with complementing assets and competencies,
                 to achieve the ecosystem maximum efficiency and full
                  engagement. The institute has a wide network of partners
                   from the industry, academia and the community, whereby ITI acts as the pioneer source of professional up-to-date skills and as a key linchpin in knowledge transfer and technology acceleration.

            </p>
           </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-background"><img src="../../../assets/images/2.jpg" alt=""></div>
        <div class="carousel-container">
          <div class="carousel-content">
            <h2>CUSTOMER-focused</h2>
            <p>As a service organization, affiliate to the Ministry of Communications and Information Technology, the customer's interest is at the heart of the Institute. ITI’s customer segment is the youth 
              spanning from K12 to talented university students and graduates in the dynamic Egyptian governorates.            </p>
            
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
</section><!-- #intro -->

<main id="main">
<section id="featured-services">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 box">
          <i class="fas fa-laptop" style="font-size: 50px;color: plum;"></i>
          <br>
          <br>
          <h3 style="color: white;">Web development</h3>
          <p class="lead mb-0">Web development is the work involved in developing a website for the Internet or an
            intranet. Web development can range from developing a simple single static page of plain text to complex
            web-based internet applications, electronic businesses, and social network services.</p>
        </div>

        <div class="col-lg-4 box box-bg">
          <i class="fas fa-mobile-alt" style="font-size: 50px; color: plum;"></i>
          <br>
          <br>
          <h3 style="color: white;">Mobile development</h3>
          <p class="lead mb-0">Mobile app development is the act or process by which a mobile app is developed for
            mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones.</p>
        </div>

        <div class="col-lg-4 box">
          <i class="fas fa-photo-video" style="font-size: 50px; color: plum;"></i>
          <br><br>
            <h3 style="color: white;">Designe UI/UX</h3>
            <p class="lead mb-0">User interface design or user interface engineering is the design of user interfaces for
              machines and software, such as computers, home appliances, mobile devices, and other electronic devices,
              with the focus on maximizing usability and the user experience.</p>
        </div>

      </div>
    </div>
  </section><!-- #featured-services -->
  <section id="about" style="background: url('../../../assets/images/about-bg.jpg') center top no-repeat fixed; ">
    <div class="container">

      <header class="section-header">
        <h3>About Us</h3>
        <p>
          Information Technology Institute is a pioneering national institute with a regional influence and international linkage. Since it was established in 1993, ITI has been devoted to provide a large pool of promising youth with world-class human capacity building programs and empirical learning approach to profoundly scale up the impact of the aspiring Egyptian youth in the ICT workplace. While moving to a future where everyone is acquainted with technology and is capable to contribute in shaping the future of the ICT industry, the ITI provides Egyptians from 12 year olds till 60 year olds with the needed support. It offers Egyptians free scholarships and training in the different areas of the market.

        </p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4 fadeInUp" >
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/images/about-mission.jpg"  alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              Excellence in developing human cadres and providing specialized consultation services for individuals and entities in the information and communication technology domain. Support designing and developing models and prototypes to meet the socioeconomic technological development requirements. Continuously focusing on staff development and commitment to uphold responsibility toward applying the social values.

            </p>
          </div>
        </div>

        <div class="col-md-4 fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/images/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              We build-up a highly professional, effective, dynamic work environment, whereby we are mindful of creating value while embracing the profession standards.

            </p>
          </div>
        </div>

        <div class="col-md-4 fadeInUp"  >
          <div class="about-col">
            <div class="img">
              <img src="../../../assets/images/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Become a leading reference for development the cadres and young professional leaders in information and communication technology sector.

            </p>
          </div>
        </div>

      </div>

    </div>
  </section>
  

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../assets/images/HowardArmitage.jpg" alt="">
            <h5>Howard A.</h5>
            <p class="font-weight-light mb-0">"
              I had the opportunity to talk to the ITI students; I can assure you that you have the most talented and
              well educated calibers, there is no doubt that your country will have a bright future.
              "</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../assets/images/Prof.Dr.JurgenGausemeier.png" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"
              The day to day cooperation between the ITI and the University of Paderborn works very smoothly and
              successfully. I’m very proud of our joint protocol that I consider the best we have in the region, I
              deeply appreciate your visionary power and your straight ahead mentality.
              "</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../assets/images/AhmedAbdElHalim.jpg" alt="">
            <h5>Ahmed W.</h5>
            <p class="font-weight-light mb-0">"
              I have always wanted to start my own company, yet I have had my share
              of fears blocking the way. When I joined ITI, I got to learn not only about the
              technical knowledge I needed, but also managerial foundation that had
              put my fears aside, and helped me to gain the skills and confidence I
              needed to purse my dream.
              "</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>Send your message to join us</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>Qena, Egypt</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+201113741294">+20113741294</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="info@iti.com">info@iti.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form #requistForm="ngForm" method="POST" novalidate>
          <h1>Contact Form</h1>
          <hr>
          <div class="row">
            
            <div class="col-md-10">
              <div class="form-group" style="z-index: 1;">
                <label for="uname">Name:</label>
                  <input id="User_name" type="text" class="form-control" [class.is-invalid]="Username.invalid && Username.touched" #Username="ngModel" required
                  [(ngModel)]="requistModle.name" name="userName">
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="uname">Email:</label>
                  <input  id="email" type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" #email="ngModel"
                  required [(ngModel)]="requistModle.email" name="mail">
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label>Massege</label>
                <textarea name="massege" id="massege"  rows="5" class="form-control"[class.is-invalid]="massege.invalid && massege.touched" #massege="ngModel" required
                [(ngModel)]="requistModle.massege" ></textarea>
                <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
              </div> <br>
              <div class="form-group">
                <button class="btn btn-danger btn-block" type="submit" name="action" [disabled]="requistForm.form.invalid || topicHasErr" class="btn btn-success" (click)="addRequist()">Send</button>
              </div> 
       <br><br>
          </div>
        </div>
      </form>
      </div>

    </div>
  </section>


  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>ITIan</h3>
            <p> The ITI-Community collaboration works to empower and enable the community with its dynamic sectors with the
              latest ICT tools and trends, by innovative solutions for the country’s critical issues addressing a real need
              and challenge. All besides; raising the awareness about how Technology can enable the world's citizens to live a
              better life and facilitate their day-to-day life activities.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a>Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a>About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a>Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              SVU,Qena<br>
              Egypt <br>
              <strong>Phone:</strong> +201113741294<br>
              <strong>Email:</strong> info@iti.com<br>
            </p>

            <div class="social-links">
              <a  class="twitter"><i class="fa fa-twitter"></i></a>
              <a  class="facebook"><i class="fa fa-facebook"></i></a>
              <a  class="instagram"><i class="fa fa-instagram"></i></a>
              <a  class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a  class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <div class="mapouter">
                <div class="gmap_canvas">
                  <iframe width="192" height="226" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=iti%20qena&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © Copyright <strong>ITIan Team</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
       
      </div>
    </div>
  </footer>

