<app-navbar-company></app-navbar-company>
company profile
<div class="profile-page">
  <div class="page-header header-filter" data-parallax="true"
    style="background-image:url('../../../../assets/images/black-and-white-city-night.png');">
  </div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container emp-profile">
        <form method="post">
          <div class="row">
            <div class="col-md-4">
              <div class="profile-img">
                <img src="http://localhost:3000//{{company.image}}" alt="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="profile-head">
                <h5>

                </h5>
                <h6>

                </h6>
                <h6>

                </h6>
                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                      aria-controls="home" aria-selected="true">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                      aria-controls="profile" aria-selected="false">Timeline</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="profile-work">

                <a href=""></a><br />

                <a href=""></a><br />
              </div>
            </div>
            <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>cmpany Name</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>careerobjrctive</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.careerobjrctive}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>content</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.content}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>email</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.email}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>address</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.address}}</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>telephonenumbe</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.telephonenumber}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>field</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.field}}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>datecreated</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.datecreated}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>description</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{company.description}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
