<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
view s
<div class="profile-page">
    <div class="page-header header-filter" data-parallax="true"
        style="background-image:url('../../../../assets/images/black-and-white-city-night.png');">
    </div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container emp-profile">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                            <img src="http://localhost:3000//{{student.image}}" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5>
                                    {{student.name}}
                                </h5>
                                <h6>
                                    {{student.title}}
                                </h6>
                                <h6>
                                    {{student.about}}
                                </h6>
                                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                            role="tab" aria-controls="home" aria-selected="true">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                            role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="certification-tab" data-toggle="tab"
                                            href="#certification" role="tab" aria-controls="certification"
                                            aria-selected="false">Certification</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-work">
                                <p>WORK LINK</p>
                                <a href="">{{student.workLink}}</a><br />
                                <p>SKILLS</p>
                                <a href="">{{student.skills}}</a><br />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Faculty Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.faculty}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Age</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.age}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profession</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.title}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="certification" role="tabpanel"
                                    aria-labelledby="certification-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Certifications</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.certifications}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>University</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.university}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Faculty</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.faculty}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>GraduationYear</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.graduationYear}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Certification</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.certifications}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experience</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.experience}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>English Level</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.englishLevel}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Availability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{student.availability}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Your Bio</label><br />
                                            <p>{{student.Bio}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>



                        <form class="form-inline">
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="msg"
                                 [(ngModel)]="msg.msg" required placeholder="Message">
                                </textarea>

                            </div>
                            <button type="submit"  class="btn btn-primary" (click)="send()">send</button>
                          </form>

                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
<app-footer></app-footer>