<nav class="navbar navbar-dark bg-dark navbar-expand-sm" style="border-radius: 0px">
  <a class="navbar-brand" routerLink="/admin/{{ID}}"style="cursor: pointer;" ><img style="width: 70px; height: 70px;"
    src="../../../assets/images/ITIAN.png">
    <strong style="font-family: monospace; font-weight: bold; margin-right: 20px;font-size: 20px;">ITIan</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-4">
        <ul class="navbar-nav" style="float:left; margin-top: 15px;">
            <li class="nav-item dropdown active"  style="padding-right: 32px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 8px;"> User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/manage-students/{{ID}}">Student</a>
                  <a id=name class="dropdown-item" routerLink="/manage-company/{{ID}}">Company </a>
                </div>
              </li> 
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:33px;margin-top: 8px;"> Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/add-user/{{ID}}">User</a>
                  <a class="dropdown-item" routerLink="/add-event/{{ID}}">Event</a>

    
                </div>
              </li> 
              <ul class="navbar-nav" style="float:left; margin-top: 7px;">
                <li><a class="nav-link"  routerLink="/request/{{ID}}"  style="margin-right: 26px;margin-top: 2px;"> Company Requests</a></li>

                <li><a class="nav-link"  routerLink="/maneg-events/{{ID}}"  style="margin-right: 26px;margin-top: 2px;"> Events</a></li>
               </ul>
           </ul>
         
      <ul class="navbar-nav ml-auto" style="  float: right;">
        
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    margin-right: 64px;margin-top: 8px;">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
            <a style="    margin-left: 8px;">Admin</a>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="logOut()" > <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Log Out</a>
          </div>
        </li> 
         
      </ul>
    </div>
  </nav>