<div>
  <app-navbar-company></app-navbar-company>
<br>
<br>
<br>

massege company
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
        </div>
        <div class="inbox_chat scroll">
          <div class="chat_list" *ngFor="let item of students" (click)="readMore(item)">
            <div class="chat_people">
              <h5>{{item[0].name}}</h5>
              <div class="chat_img"> <img src="http://localhost:3000//{{item[0].image}}" alt=""> </div>
              <div class="chat_ib">
              </div>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>

    </div>
  </div>

</div>

