    <app-navbar></app-navbar>
    job details
    <div class="hero-wrap hero-wrap-2"
      style="background-image: url(&quot;images/bg_1.jpg&quot;); background-position: 50% 0px;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5 fadeInUp ftco-animated">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a>Home <i
                    class="ion-ios-arrow-forward"></i></a></span> <span>Company profile</span></p>
            <h1 class="mb-3 bread">Details Job</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="job_details_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="job_details_header">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">

                  <div class="jobs_conetent">
                    <a >
                      <h4> {{JobDetails.title}}</h4>
                    </a>
                    <a>
                      <h2> {{JobDetails.company}}</h2>
                    </a>
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p> <i class="fa fa-map-marker"></i> {{JobDetails.location}}</p>
                      </div>
                      <div class="location">
                        <p> <i class="fa fa-clock-o"></i>
                          {{JobDetails.type}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class=" descript_wrap white-bg">
              <div class="single_wrap">
                <h4>Job description</h4>
                <p>{{JobDetails.desc}}</p>
                <p></p>
              </div>
              <div class="single_wrap">
                <h4>Responsibility</h4>
                <ul *ngFor="let res of JobDetails.respons">
                  <li >{{res}}</li>
                </ul>
              </div>
              <div class="single_wrap">
                <h4>Qualifications</h4>
                <ul *ngFor="let item of JobDetails.qual">
                  <li >{{item}}</li>
                </ul>
              </div>
       
              <div class="row mb-5">
                <div class="col-6">
                  <a  (click)="savedJob()" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Save Job</a>
                </div>
                <div class="col-6">
                  <a (click)="applytoJob()" class="btn btn-block btn-primary btn-md">Apply Now</a>
                  <br>
                  <strong class="text-danger" [class.d-none]="test">You Already Applied for the job</strong>
                     
                </div>
              </div>

            </div>
          
          </div>
          <div class="col-lg-4">
            <div class="job_sumary">
              <div class="summery_header">
                <h3>Job Summery</h3>
              </div>
              <div class="job_content">
                <ul>
                  <li>Published on: <span>{{JobDetails.time}} </span></li>
                  <li>Experience : <span>{{JobDetails.exper}}</span></li>
                  <li>Salary: <span>{{JobDetails.salary}}</span></li>
                  <li>Location: <span> {{JobDetails.location}} </span></li>
                  <li>Job Nature: <span>{{JobDetails.type}}</span></li>
                </ul>
              </div>
            </div>
            <div class="share_wrap d-flex">
              <span>Share at:</span>
              <ul>
                <li><a > <i class="fa fa-facebook"></i></a> </li>
                <li><a > <i class="fa fa-google-plus"></i></a> </li>
                <li><a > <i class="fa fa-twitter"></i></a> </li>
                <li><a> <i class="fa fa-envelope"></i></a> </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
